/*Clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin-top: 0;
    vertical-align: top;
    max-width: 200px;
    height: auto;
    clear: both;
    float:left;
    padding-left: 20px;
}

.logo {
    width:80px;
    height: auto;
    padding-top: 20px;
}

.bar a {
    font-size: 1px;
    line-height: 22px;
    color: rgb(184, 184, 184);
    font: 100 16px/20px "Roboto", "Georgia", "Times";
}

.bar li:first-child a{
    color: goldenrod;
    padding-top:0;
    font-family: "Roboto", "Georgia", "Times";
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}

.bar {
    float: left;
    width: 20%;
    padding-bottom: 70%;
    position: fixed;
  
}

.bar ul{
    list-style-type: none;
    padding-left: 0px;
    display: inline-block;
}

.bar li {
    padding-top: 10%;
}

.article section {
    float: left;
}

.article a,
.bottom a {
    color: black;
}

.article img {
    max-width: 100%;
    max-height:auto;
}

.article span {
    display: block;
    color: rgb(114, 105, 105);
    font: 500 12px/18px "Roboto", "Georgia";
}

.center {
    max-width: 55%;
    max-height: 600px;
    padding-left: 200px;
} 

.center a{
    font: 700 22px/30px "Roboto", "Times New Roman";
}

.side {
    max-width: 20%;
    max-height: 600px; 
    vertical-align: top;
}

.side li {
    list-style-type: none;
    border-bottom:2px solid gray;
}

.side li a {
    font: 700 12px/20px "Roboto", "Times New Roman";
}
.side li:last-child{
    border: none;
}

.side img {
    width: 100px;
    padding-left: 35px;
}

.bottom img {
    max-width: 200px;
    max-height: auto;
    float: right;
    padding-bottom: 20px;
}

.bottom ul{
    list-style-type: none;
}

.bottom li {
    border-bottom:2px solid gray;

}

.bottom li:last-child {
    border-bottom: none;
}

.bottom h3 {
    border-bottom:2px solid gray;
}

.bottom h2 {
   float: left;
   max-width: 24%;
   height: 50px; 
   font: 700 18px/24px "Roboto", "Times New Roman";
}

.bottom h6 {
    color: rgb(114, 105, 105);
    font: 500 12px/18px "Roboto", "Georgia";
    margin-left: 200px;
    width:30%;


}

a:link {
    text-decoration: none;
}

.bottom p {
    max-width: 30%;
    max-height: auto;
    margin-left: 200px;
    color: rgb(184, 184, 184);
    font: 300 16px/24px;
}

.bottom {
    float: left;
    max-height: 360px;
    vertical-align: top;
    padding-left: 200px;
    max-width: 70%;
}